* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    min-height: 100vh;
    font-family: 'Noto Serif HK', serif !important; 
    display: grid;

}

/* CSS grids del Index*/
.container__index {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas: "header"
        "principal"
        "nosotros"
        "footer";
}








/* inico de la seccion de header y nav */
.header {
    grid-area: header;
    display: grid;
    background: rgb(59, 81, 16);
    background: linear-gradient(180deg, rgba(59, 81, 16, 1) 52%, rgba(4, 64, 9, 1) 100%);
}

.header__container {

    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.navbar li{
    color: aliceblue;
}
.nav-item a{
    color: aliceblue;
    transition: all 0.4s linear;
    border-radius: 15px;
    
}
.header__logo img {
    border-radius: 50%;
    width: 50px;
    margin-left: 50px;


}

/* .header__menu a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;

} */
/* 
.header__menu li {
    display: inline-flex;
    padding: 0.4rem 1.5rem;
    text-align: center;
    color: rgb(209, 210, 218);
    transition: all 0.4s linear;
    border-radius: 15px; 
}
    */


.nav-item :hover {
    background-color: #04002b;
    color: rgb(255, 217, 0);
}

/* fin de la seccion de header y nav */
/* incio de la seccion principal */


.principal {
    grid-area: principal;
    display: flex;
    flex-direction: column;
}
.carousel-caption p {
    color: aliceblue;    
}
.carousel-item{
    transition-duration: 0.6s
}


.principal__titulo h1 {
    position: absolute;
    color: rgb(186, 196, 187);
    font-size: 25px;
    padding-left: 20px;
}

.principal__titulo p {
    position: absolute;
    color: rgb(186, 196, 187);
    padding-top: 30px;
    padding-left: 20px;
}

.principal ul {
    list-style: none;
}

.principal ul li img {
    width: 100%;
    max-height: 400px;

}

/* fin de la seccion principal y comienzo de la seccion sobre nosotros */

.nosotros {
    grid-area: nosotros;
    display: flex;
    flex-direction: column;
    background-color: #d3d4c4da;
    align-items: center;

}

.nosotros p {
    color: #04002b;
    font-weight: bolder;
    font-size: 15px;

}

.nosotros img {
    border-radius: 50%;
    width: 100px;
}

.nosotros__introduccion {
    display: flex;
    width: 90%;
    flex-direction: row;
    padding-bottom: 2em;

}

.nosotros__introduccion h2 {
    font-size: 30px;
    font-weight: 800;
    color: #04002b;
    text-align: center;
}

.nosotros__introduccion div {
    padding: 2em;
}


.nosotros__about {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 00.3em;
    padding-bottom: 10em;
}

.nosotros__about div {

    width: 20%;
    padding: 5px;
    justify-items: center;

}

.nosotros__about i {
    text-align: center;
    font-size: 30px;
    color: #6B2B75;
    margin-top: 0;

}

/* fin seccion nosotros y comienzo de la seccion footer */

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    background: rgb(87, 89, 83);
    background: linear-gradient(0deg, rgba(87, 89, 83, 1) 0%, rgba(14, 15, 14, 1) 15%);

}


.footer h3 {
    color: rgb(180, 180, 180);
    font-size: 1.5em;
    text-decoration: underline;
    letter-spacing: 1px;
    text-align: center;

}

.footer__redes a {
    text-decoration: none;


}

.footer__redes li {
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 1em;
    justify-content: left;

}

.footer__redes i {
    color: #6B2B75;
    font-size: 30px;


}

.footer__contacto {
    align-items: center;
    padding-top: 1.5em;
    text-align: left;
}

.footer__contacto img {
    border-radius: 50%;
}

.footer__contacto h4 {
    color: rgb(180, 180, 180);

}

.footer__contacto p {
    color: rgb(180, 180, 180);
    text-align: left;
    padding: 0;

}

.footer__contacto i {
    color: #c276d1;
    text-align: left;
    font-size: 25px;
    margin-top: 00.3em;
}

.footer__copyright {
    width: 100%;

    bottom: 0;
    height: 30px;
}

.footer__copyright p {
    color: aliceblue;
    text-align: center;
    font-size: 12px;
}

/* fin footer */


/* class para contacto.html */
/* grid-layout pagina contacto */

.paginacontacto__container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas: "header"
        "titulo"
        "formulario"
        "footer";
}





.contacto__container {
    grid-area: formulario;
    height: 100%;
    background-color: #7f816594;
    color: #737373;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;



}

.contacto__container ul {
    list-style: none;
    padding: 1em;

}

.contacto__container li {
    padding: 0.2em;
}

.contacto__formulario {
    margin: 0;
    padding: 1em;
    padding-top: 0;


}


.contacto__formulario button,
.contacto__formulario input,
.contacto__formulario textarea {
    width: 90%;
    padding: .7em;
    border: none;
    color: rgb(31, 29, 29);
    border: 2px solid #39990c;
}

.contacto__formulario button {
    margin: 0.3em;
    background: #76d176;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contacto__informacion {
    text-align: center;



}

.contacto__informacion h2 {
    font-size: 30px;
    padding-top: 1em
}

.contacto__informacion li {
    margin: 0.5em;
    font-size: 20px;
    text-decoration: none;
}

.contacto__informacion li h5 span {
    font-size: 20px;
    font-weight: 900;
    color: #000000;
    text-decoration: underline;


}

.contacto__informacion a {
    text-decoration: none;
}

.contacto__informacion li i {
    display: inline-flex;
    color: #6B2B75;
    width: 8%;
    font-size: 35px;
    text-decoration: none;
    padding: 10px;

}

/* fin de css contacto */
/* comienzo css galeria */
.paginagaleria__container {
    display: grid;
    grid-template-rows: auto auto 2fr auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas: "header"
        "titulo"
        "galeria"
        "invitacion"
        "footer";
}






.paginas__titulo {
    grid-area: titulo;
    width: 100%;
    text-align: center;
    background-image: url(../recursos/Escenario1.jpg);
    background-position: center;
    height: 5em;
    filter: brightness(150%);
}

.paginas__titulo h1 {
    color: aliceblue;
    padding-top: 1em;
    font-size: 30px;
}

.galeria__container {
    grid-area: galeria;
    display: flex;
    padding: 5px;
    background-color: #7f816594;
}


.galeria__columnas {
    flex: 25%;
    padding: 5px;
}

.galeria__columnas img {
    width: 100%;
    margin-top: 5px;
}

.galeria__invitacion {
    grid-area: invitacion;
    text-align: center;
    width: 100%;
    height: 7em;
    background-image: url(../recursos/escenario3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    filter: brightness(80%);
}

.galeria__invitacion h2,
h3 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-top: 0.5em;

}

/* fin de css galeria */
/* comienzo css clases */
.paginaclases__container {
    display: grid;
    grid-template-rows: auto auto 2fr auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas: "header"
        "titulo"
        "clases"
        "invitacion"
        "footer";
}

.clases__container {
    grid-area: clases;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #7f816594;

}

.clases__container div {
    flex: 15%;
    padding: 25px;
    border-left: 1px solid #39990c;


}

.clases__container img {
    width: 100%;
    max-width: 500px;
    max-height: 500px;
}

.clases__container div h5 {
    font-size: 18px;
    text-align: center;
}

/* fin de css clases */
/* comienzo css historia */
.paginaclases__container {
    display: grid;
    grid-template-rows: auto auto 2fr auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas: "header"
        "titulo"
        "historia"
        "invitacion"
        "footer";
}

.historia__academia {
    grid-area: historia;
    background-color: #7f816594;
    min-height: 300px;

}

.historia__academia img {
    float: right;
    max-height: 300px;
    padding: 1em;
    padding-bottom: 5em;
}

.historia__academia h2,
p {
    color: #04002b;
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
}

.historia__academia h2 {
    font-size: 25px;
}

.historia__academia p {
    padding-top: 2em;
    padding-left: 3em;
    font-size: 16px;
    text-align: justify;

}

.historia__profe {
    min-height: 300px;
}



@media (max-width: 768px) {

    /* media queries de header e index */
    .header__container {
        flex-direction: column;

    }

    .principal__titulo p {
        display: none;

    }

    .nosotros__introduccion {
        flex-direction: column-reverse;
        text-align: center;
    }

    .nosotros__introduccion img {
        width: 100px;
    }

    .nosotros__about {
        flex-direction: column;
        align-items: center;


    }

    .nosotros__about div {
        width: 60%;
        margin: 5px;
        padding: 5px;
        border: 1px solid black;

    }

    /* mediaqueries de footer */

    .footer {
        flex-direction: column;
        align-items: center;
        padding: 15px;

    }

    .footer__redes h3 {
        font-size: 15px;
    }

    .footer__redes a {
        align-items: center;
        justify-content: center;
    }

    .footer__redes li {
        display: inline-block;
        width: 20%;

    }

    .paginas__titulo {
        height: 3em;
        display: flex;
        justify-content: center;

    }

    /* media queries de pagina galeria */
    .paginas__titulo h1 {
        font-size: 20px;
        padding: 0;
    }

    .galeria__container {
        flex-direction: column;       
    }

    .galeria__invitacion {
        display: flex;
        text-align: center;
        justify-content: center;
        min-height: auto;
    }

    .galeria__invitacion h2 {
        font-size: 20px;
        word-wrap: break-word;

    }

    .galeria__invitacion h3 {
        display: none;
    }

    /* mediaqueries de pagina contacto */

    .contacto__container {
        display: flex;
        flex-direction: column;
    }

    .contacto__informacion {
        text-align: justify;
    }

    .contacto__informacion li a {
        margin: 5px;

    }
    
    /* mediaqueries pagina clases */
    .clases__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .clases__container div {
        border-left: none;
        border-bottom: .5px solid gray;
        width: 80%;
    }



    /* mediaqueries pagina historia */
    .historia__academia {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .historia__academia section {
        justify-content: center;
        text-align: center;

    }


    .historia__academia p {
        text-align: center;
        font-size: 13px;
        border: 10px;
        padding-top: 0;
        padding: 0 2em
    }

    .historia__imagen {
        float: none;
        display: flex;
        align-items: center;
        width: 100%;        
        align-items: center;
        justify-content: center;
        padding: 0;

    }



}