/* comienzo css clases */
.paginaclases__container {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-template-areas: "header"
        "titulo"
        "clases"
        "invitacion"
        "footer";
}


/* fin de css clases */